.Footer{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
.colunas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.colunas h3{
    color: turquoise;
    font-size: 15px;
    font-weight: 900;
}
.colunas a {
    text-decoration: none;
    color: black;
}