img{
    width: 50%;
}


.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.image {
    width: 20%;
    display: inline-block;
    margin: 5px 0;
}

.btnWrap {

    margin-top: 7%;
    margin-left: 3%;
    width: 20%;
    display:inline-block;
    position:relative;
}
.btnWrap div{
    width: 100%;
}

.botaoPlay {
    opacity: 0;
    position:absolute;
    top:82%;
    left:5%;
    display: flex;
    align-items: flex;
    width: 20px; /* ajuste o tamanho do botão de acordo com suas necessidades */
    height: 20px; /* ajuste o tamanho do botão de acordo com suas necessidades */
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 0;
}

.btnWrap img:hover {
    opacity: 50%;
}

.btnWrap:hover .botaoPlay {
    opacity: 1;
}

.play {
    width: 100%;
    height: 100%;
    position: relative;
}

.icon {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:invert(100%);
}

.icon2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botaoADD{
    opacity: 0;
    position:absolute;
    top:82%;
    right:56%;
    display: flex;
    align-items: flex;
    width: 15px; /* ajuste o tamanho do botão de acordo com suas necessidades */
    height: 15px; /* ajuste o tamanho do botão de acordo com suas necessidades */
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 0;

}
.btnWrap:hover .botaoADD {
    opacity: 1;
}

.textoTop10 {
    position: absolute;
    top: 23%;
    left: 0.5%;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }